{%extends 'base.html'%}
{%block main%}
<div class="d-flex justify-content-center">
    <div class="w-75">
        <h3 class="text-center mb-4">Errores</h3>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item w-75 fw-bold">Código</li>
            <li class="list-group-item w-75 fw-bold">Error</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item w-75">200</li>
            <li class="list-group-item w-75">No se ha podido guardar el token del usuario</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item w-75">210</li>
            <li class="list-group-item w-75">Error al crear query</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item w-75">211</li>
            <li class="list-group-item w-75">Error al actulizar query</li>
        </ul>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item w-75">230</li>
            <li class="list-group-item w-75">Campos frecuencias</li>
        </ul>
    </div>
</div>

{%endblock%}
